header{
    background-color: rgb(202, 82, 218);
    text-align: center;
    border-radius: 10px;
}
.photo{
    background-position: left;
    width: 120px;
    height: 120px;
    


}
.profile{
    background-color: chocolate;
    
}
main{
    background-image: url(/fundamentos-web01/cv.html/IMG04/body3-emp.jpg);
    
   }
.education{
    text-align: center;
}

.experience{
    text-align: center;
}
.skills{
    text-align: center;
}
.capabilities{
    text-align: center;
}
.contact{
   text-align:center;
}
.social{
   
    display: flex;
    justify-content: center;
}